In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("police_violence.csv")

In [5]:
df.count()

State                                                            100
City                                                             100
PD                                                               100
Black People Killed by Police (1/1/2013-12/31/2019)               91
Hispanic People Killed by Police (1/1/2013-12/31/2019)            69
Native American People Killed by Police (1/1/2013-12/31/2019)     10
Asian People Killed by Police (1/1/2013-12/31/2019)               30
Pacific Islanders Killed by Police (1/1/2013-12/31/2019)           7
White People Killed by Police (1/1/2013-12/31/2019)               89
Unknown Race People Killed by Police (1/1/2013-12/31/2019)        54
Total                                                            100
Black                                                            100
White                                                            100
Amer. Indian                                                     100
Asian                                                            100
Hawaiian                                                         100
Other                                                             99
Two or\nmore races                                               100
Hispanic                                                         100
Black-White Dissimilarity Index (2010)                           100
Murder and\nnonnegligent manslaughter                            100
Violent crimes 2013 (if reported by agency)                       98
Violent crimes 2014 (if reported by agency)                       95
Violent crimes 2015 (if reported by agency)                       96
Violent crimes 2016 (if reported by agency)                       94
Violent crimes 2017 (if reported by agency)                       91
Violent crimes 2018 (if reported by agency)                       96
2013 Total Arrests (UCR Data)                                     90
2014 Total Arrests                                                92
2015 Total Arrests                                                89
2016 Total Arrests                                                92
2017 Total Arrests                                                93
2018 Total Arrests                                                95
dtype: int64

In [6]:
df.columns

Index(['State', 'City', 'PD',
       'Black People Killed by Police (1/1/2013-12/31/2019)',
       'Hispanic People Killed by Police (1/1/2013-12/31/2019)',
       'Native American People Killed by Police (1/1/2013-12/31/2019)',
       'Asian People Killed by Police (1/1/2013-12/31/2019)',
       'Pacific Islanders Killed by Police (1/1/2013-12/31/2019)',
       'White People Killed by Police (1/1/2013-12/31/2019)',
       'Unknown Race People Killed by Police (1/1/2013-12/31/2019)', 'Total',
       'Black', 'White', 'Amer. Indian', 'Asian', 'Hawaiian', 'Other',
       'Two or\nmore races', 'Hispanic',
       'Black-White Dissimilarity Index (2010)',
       'Murder and\nnonnegligent manslaughter',
       'Violent crimes 2013 (if reported by agency)',
       'Violent crimes 2014 (if reported by agency)',
       'Violent crimes 2015 (if reported by agency)',
       'Violent crimes 2016 (if reported by agency)',
       'Violent crimes 2017 (if reported by agency)',
       'Violent crimes 2018 (if reported by agency)',
       '2013 Total Arrests (UCR Data)', '2014 Total Arrests',
       '2015 Total Arrests', '2016 Total Arrests', '2017 Total Arrests',
       '2018 Total Arrests'],
      dtype='object')

In [17]:
kbp = df[['State', 'City', 'Black People Killed by Police (1/1/2013-12/31/2019)', 'Hispanic People Killed by Police (1/1/2013-12/31/2019)', 'Native American People Killed by Police (1/1/2013-12/31/2019)', 'Asian People Killed by Police (1/1/2013-12/31/2019)', 'Pacific Islanders Killed by Police (1/1/2013-12/31/2019)', 'White People Killed by Police (1/1/2013-12/31/2019)', 'Total',
       'Black', 'White', 'Amer. Indian', 'Asian', 'Hawaiian', 'Other',
       'Two or\nmore races', 'Hispanic',]]

In [18]:
kbp

,State,City,Black People Killed by Police (1/1/2013-12/31/2019),Hispanic People Killed by Police (1/1/2013-12/31/2019),Native American People Killed by Police (1/1/2013-12/31/2019),Asian People Killed by Police (1/1/2013-12/31/2019),Pacific Islanders Killed by Police (1/1/2013-12/31/2019),White People Killed by Police (1/1/2013-12/31/2019),Total,Black,White,Amer. Indian,Asian,Hawaiian,Other,Two or\nmore races,Hispanic
0,New Mexico,Albuquerque,3.0,18.0,NaN,NaN,NaN,10.0,"545,852","14,878","229,933","20,627","13,674",418,"1,224","10,043","255,055"
1,California,Anaheim,3.0,7.0,NaN,NaN,NaN,3.0,"336,265","8,209","92,362",743,"49,210","1,437",628,"6,209","177,467"
2,Alaska,Anchorage,1.0,1.0,2.0,NaN,NaN,5.0,"291,826","15,308","182,814","22,047","23,208","5,776",562,"20,050","22,061"
3,Texas,Arlington,7.0,1.0,NaN,1.0,NaN,4.0,"365,438","67,087","164,022","1,338","24,564",373,597,"7,188","100,269"
4,Georgia,Atlanta,13.0,NaN,NaN,NaN,NaN,1.0,"420,003","224,316","152,377",754,"13,098",115,739,"6,789","21,815"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Arizona,Tucson,2.0,10.0,NaN,NaN,NaN,10.0,"520,116","23,362","245,323","8,776","14,211",951,792,"10,393","216,308"
96,Oklahoma,Tulsa,7.0,4.0,NaN,1.0,NaN,14.0,"391,906","61,230","227,021","19,473","8,926",278,473,"19,239","55,266"
97,Virginia,Virginia Beach,3.0,NaN,NaN,NaN,NaN,2.0,"437,994","83,210","282,470","1,349","26,312",602,863,"14,201","28,987"
98,Kansas,Wichita,1.0,2.0,NaN,NaN,NaN,10.0,"382,368","42,676","246,744","3,424","18,272",311,472,"12,121","58,348"
99,North Carolina,Winston-Salem,3.0,NaN,NaN,NaN,NaN,NaN,"229,617","78,065","108,222",567,"4,536",138,535,"3,801","33,753"

In [25]:
kbp = kbp.sort_values(by=['Black People Killed by Police (1/1/2013-12/31/2019)'], ascending=False).head(10)

In [28]:
kbp["City"]

16          Chicago
62         New York
89        St. Louis
39          Houston
21         Columbus
51      Los Angeles
8         Baltimore
67    Oklahoma City
70     Philadelphia
43     Jacksonville
Name: City, dtype: object

In [24]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'